body{
    font-size: 10px;
}
#filterbar{
    position: absolute;
    top:10px;
    left: 180px;
    height: 30px;
    border: 1px #bababa solid;
    background-color: #e8e8e8;
    display: none;
}
ul{
    padding-left:0px;
    list-style-type: none;
    padding: 0px;
    height: 95%;
    overflow-y: scroll;
}



ul li:nth-child(2n+1){
    /*border: #00B7FF 2px solid;*/
    background-color: #BBBBBB;
}
ul li:nth-child(2n){
background-color: #e0e0e0;
}



/*ul{*/
/*height: 95%;*/
/*overflow-y: scroll;*/
/*}*/

li:hover{
    border: #b0dd31 2px solid;
}
img{
    position: relative;
    width: 20px;
    height: 20px;
}
#div_editor{
    position: absolute;
    left: 100px;
    top:100px;
    width:510px;
    height: 200px;
    border: #6699cc 5px solid;
    background-color: #BBBBBB;

    display: none;
}
#editorDesc{
    width: 500px;
    height: 70px;

}

#attachment_droparea{
    border: #bababa 2px dashed;
    position: absolute;
    top:105px;
    left: 0px;
    width:500px;
    height: 90px;
    background-color: #fbe89a;
}
#div_editor_ok{
    position: absolute;
    left: 480px;
    top:0px;
}

span{
    display: inline-block;
    text-align: left;
}
.span_orgs{
    width: 70px;
    color: #2b7624;
    font-family: cursive;
}
.span_datetime{
    width:120px;
    font-family:arial;
}

.span_user{
    width:50px;
    font-style: italic;
    color: #000071;
    font-weight: bold;
}
.span_type{
    width:50px;
    font-style: italic;
    color: #a02219;
}
.span_desc{
    font-family: arial;
}
.logo{
    width:37px;
    height: 30px;
    /*position: absolute;*/
}
#cover{
    display: none;
    position: absolute;
    left: 0px;
    top:0px;
    background-color: #dddddd;
    opacity: 0.5;
    height: 100%;
    width:100%;
}
.docTitle{

    font-size: 20px;
    vertical-align: 5px;
    font-family:fantasy;
    font-weight: bold;
    color: #00007b;
}

